# Wazuh - Filebeat configuration file
output.elasticsearch:
  hosts: ["127.0.0.1:{{ ESPort }}"]
  protocol: https
  username: "{{ UserName }}"
  password: "{{ UserPassword }}"
  ssl.certificate_authorities:
    - {{ FileBeatCertificatePath }}/root-ca.pem
  ssl.certificate: "{{ FileBeatCertificatePath }}/filebeat.pem"
  ssl.key: "{{ FileBeatCertificatePath }}/filebeat-key.pem"
setup.template.json.enabled: true
setup.template.json.path: '{{ FilebeatConfigPath }}/wazuh-template.json'
setup.template.json.name: 'wazuh'
setup.ilm.overwrite: true
setup.ilm.enabled: false

filebeat.modules:
  - module: wazuh
    alerts:
      enabled: true
    archives:
      enabled: false